{% for product in products|slice:":3" %}
    <div class="d-flex align-items-center justify-content-start">
        <div class="rounded me-4" style="width: 100px; height: 100px;">
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="" />
        </div>
        <div>
            <h6 class="mb-2">{{ product.name }}</h6>
            <div class="d-flex mb-2">
                <h5 class="fw-bold me-2">{{ product.price }} GEL</h5>
            </div>
        </div>
    </div>
{% endfor %}


