{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category Listing Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<h1>Category Listing Page</h1>
    {% for category in  parent_categories %}
        <div>
            <a href="{% url 'store:product_listing' category.id  %}"> {{ category.name }} </a> --- Product Amount {{ category.product_set.all|length}}
        </div>
        <br>
    {% endfor %}
</body>
</html>